@import "all";

.vr {
  color: rgb(200, 200, 200);
}

.option-button {
  width: 100px !important;
  display: block;
  background-color: #1b946c;
}

.coords {
  text-decoration: none;
}

.tb {
  border-radius: 15px;
  border: 1px solid rgb(220, 220, 220);
  padding: 0;
  overflow: none;
}

.tb:not(.no-footer) {
  border-radius: 15px;
}

.tb.no-footer {
  border-radius: 15px 15px 0px 0px;
}

.tb-body, .tb-header, .tb-footer {
  width: 100%;
  margin: 0;
  padding: 0;
}

.col-data {
  display: inline-block;
  padding-left: 30px;
  margin-left: -16px;
  height: 20px;
}


.tb-header {
  height: 44px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(27, 148, 108);
  color: white;
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;

  .sort {
    font-size: 12px;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: 0;
    background-color: #24c791;
  }

  .col-data:last-child {
    margin-right: 15px;
  }
}

.tb-body {
  overflow-y: scroll;
  overflow-x: auto;
  position: relative;

  .col-line:nth-child(2n) .col-data{
    background-color: $white-light-gray;
  }

  .col-line {
    height: 25px;
    width: 100%;
  }

  .tb-link:hover .col-data {
    background-color: rgb(200, 200, 200);
  }

  .tb-link:hover.active .col-data {
    background-color: rgb(210, 210, 210);
  }

  .tb-link:hover.active .col-data {
    background-color: rgb(200, 200, 200);
  }

  .tb-link {
    cursor: pointer;
    background-color: white;
  }

  .empty {
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    vertical-align: middle;
  }
}



.tb-footer {
  border-top: 1px solid rgb(220, 220, 220);
  padding-top: 10px;
  padding-bottom: 10px;

  p {
    margin: 0;
    padding: 0;
  }



  .tb-nav button {
    width: 25px;
    height: 25px;
  }

  .tb-count button {
    width: 35px;
    height: 25px;
    line-height: 1;
  }

  .tb-info {
    width: 150px;
  }

  button {
    border: 0px;
    background-color: rgb(230, 230, 230);
    padding: 0px;
  }

  button:hover {
    background-color: rgb(210, 210, 210);
  }

  button:active {
    background-color: rgb(190, 190, 190);
  }

  button.selected {
    background-color: rgb(188, 233, 188);
  }

}

.col-data {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px;
}

