<div
  [ngClass]="{
    tb: true,
    'container-flex': true,
    'm-0': true,
    'p-0': true,
    'no-footer': pagable === 'NO'
  }"
>

  <!-- Header --->
  <div class="hstack tb-header gap-3" [scrollLeft]="scroll">
    <div
      *ngFor="let name of headers; let i = index"
      class="col-data"
      [ngStyle]="{ flex: '1 0 ' + minSizes[i] + 'px' }"
    >
      <button *ngIf="sortable !== 'NO'" class="sort me-2" (click)="onSort(i)">
        {{ isSortBy(i) ? (isAsc(i) ? "▲" : "▼") : "◊" }}
      </button>
      <span [title]="name">{{ name }}</span>
    </div>
  </div>

  <!-- Body --->
  <div
    class="vstack tb-body"
    [ngStyle]="{ 'height.px': height }"
    (scroll)="onScroll($event)"
  >
    <div
      [ngClass]="{
        'hstack': true,
        'gap-3': true,
        'col-line': true,
        'tb-link': routerLinks ? true : false
      }"
      *ngFor="let record of data; let iRow = index"
      routerLinkActive="active"
      [routerLink]="routerLinks === undefined ? undefined : routerLinks[iRow]"
    >
      <div
        *ngFor="let value of record; let iCol = index"
        class="col-data"
        [ngStyle]="{ flex: '1 0 ' + minSizes[iCol] + 'px' }"
      >
        <ng-container *ngIf="!isIcon(format(value))">
          <span  [title]="value">{{ format(value) }}</span>
        </ng-container>
        <ng-container *ngIf="isIcon(format(value))">
          <img [src]="value.url" [ngStyle]="{'width.px': value.width, 'height.px': value.height}">
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Footer --->
  <div *ngIf="pagable !== 'NO'" class="row tb-footer">
    <div class="col">
      <div class="d-flex justify-content-end gap-3">

        <div class="tb-nav">
          <div class="btn-group">
            <button class="btn" (click)="onPage(-1)">&lt;</button>
            <button class="btn" (click)="onPage(1)">&gt;</button>
          </div>
        </div>

        <div class="tb-count htsack">
          <button
            *ngFor="let scale of scales"
            [ngClass]="{
              selected: this.count === scale,
              btn: true,
              'me-1': true
            }"
            (click)="onCount(scale)"
          >
            {{ scale }}
          </button>
        </div>

        <div class="tb-info">
          <span *ngIf="pagable === 'SERVER'"
            >{{ this.page * this.count }} -</span
          >
          <span>
            {{ this.page * this.count + (this.data ? this.data.length : 0) }}
          </span>
          <span *ngIf="length !== undefined"> sur {{ length ?? 0 }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
