# Out build and package
target/
*.class
*.jar
bin/
.mvn/wrapper/maven-wrapper.jar
*.war
*.ear
*.iml
.mypy_cache

# IDEs and editors
/.idea
.project
.classpath
.factorypath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Ignore certficates
*.p12
*.crt

# Ignore Data
/server/src/main/resources/data.sql
/server/ui/.angular/

# GeoLite
GeoLite2-ASN.mmdb
GeoLite2-City.mmdb
GeoLite2-Country.mmdb

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Secrets files
/server/src/main/resources/application.properties
/app/src/main/resources/application.properties
/.env

# Container data
/data

# LaTeX
/docs/user/*.log
/docs/user/*.acn
/docs/user/*.aux
/docs/user/*.glo
/docs/user/*.out
/docs/user/*.toc
/docs/user/build
texput.log
auxil