# Out build and package
target/
.mvn/
*.class
*.jar
*.war
*.ear
*.iml


# Eclipse project
.classpath
.editorconfig
.factorypath
.gitattributes
.project
.settings/

# Idea Project
*.idea

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*