<div
  class="image-input"
  #square (window:resize)="0"
  [ngStyle]="{'height.px': getSize() }"
>
  <app-dialog class="download col mb-3" #dialog>
    <div class="m-0 p-0" [ngStyle]="{'height.px': getSize(), 'width.px': getSize() }" trigger>
      <img
        *ngIf="imageSrc"
        (load)="onLoad($event)"
        [src]="imageSrc"
        class="preview m-0 p-0"
        style="width: 100%; height: 100%"
        alt="Photo du capteur"
        trigger>
    </div >

    <div body>
      <div class="d-flex justify-content-center dialog-image drag-and-drop"
           [ngStyle]="{'height.px': getSizeSquare(), 'width.px': getSizeSquare() }">

        <label
          [for]="name"
          class="label-edit"
          *ngIf="editable"
          appDnd
          (fileDropped)="onLoadFile($event)"
        >
          <img class="icon-edit" src="assets/buttons/image-upload.svg" alt="icon simple">
          <input
            type="file"
            [name]="name"
            [id]="name"
            [attr.formControlName]="name"
            accept="image/png"
            (change)="onImagePreview()"
            #imageRef
          />
        </label>
        <img
          *ngIf="imageSrc"
          [src]="imageSrc"
          class="view"
          alt="Vu de l'image">
      </div>

      <div *ngIf="editable">
        <div class="d-flex justify-content-center my-3">
          <app-button width="140" fa="fas fa-sync-alt" (click)="onImageReset()">
            Anuller
          </app-button>
        </div>
        <div class="d-flex justify-content-center">
          <app-button width="140" fa="fas fa-times" (click)="onImageRemove()">
            Supprimer
          </app-button>
        </div>
      </div>

      <div *ngIf="!editable && imageSrc">
        <div class="d-flex justify-content-center my-3" *ngIf="extendSrc || href">
          <app-button width="140" fa="fas fa-expand-arrows-alt" [routerLink]="extendSrc" [href]="href" blank="true">
            Agrandir
          </app-button>
        </div>
        <div class="d-flex justify-content-center ">
          <app-button width="140" fa="fas fa-cloud-download" (click)="onDownload(); $event.preventDefault(); $event.stopPropagation()">
            Télécharger
          </app-button>
        </div>
      </div>
    </div>
  </app-dialog>
</div>
