
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$gamasenseit-primary: mat.define-palette(mat.$indigo-palette);
$gamasenseit-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$gamasenseit-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$gamasenseit-theme: mat.define-light-theme((
  color: (
    primary: $gamasenseit-primary,
    accent: $gamasenseit-accent,
    warn: $gamasenseit-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($gamasenseit-theme);

/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.css"


// Default variable overrides=

$primary: #2FBF71;
$secondary: #CEF3E0;
$danger: #ff4136;
$warning: #ED7D3A;
$info: #8CD867;
$ligth: #FFFFFF;
$dark: #101A10;

$body-bg: $ligth;
$body-color: $dark;

/*
.degraded {
  background-image: linear-gradient(90deg, rgb(98, 218, 98) 0%,  rgb(165, 255, 218) 100%);
  border: 1px solid rgb(185, 185, 185);
  color: black;
  transition: background 0s;
}

.degraded:hover {
  background-image: linear-gradient(90deg, rgb(165, 255, 218) 0%, rgb(79, 188, 231) 100%);
}
*/

.degraded {
  background-color: rgb(98, 218, 98);
  box-shadow: 0 48px 40px -40px rgb(110, 221, 255) inset;
  transition: box-shadow 0.3s, background-color 0.3s;
  color: black;
  border: 1px solid rgb(185, 185, 185);
}

.degraded:hover {
  background-color: rgb(165, 255, 218);
  box-shadow: 0 48px 40px -40px rgb(79, 188, 231) inset;
}

.degraded:active {
  background-color: rgb(79, 188, 231);
  box-shadow: 0 48px 40px -40px rgb(98, 218, 98) inset;
}

.box {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
  border-radius: 15px !important;
  padding: 1.5rem !important;
  border: 1px solid rgb(236, 236, 236);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


// Leaflet & OpenStreetMAp
@import "../node_modules/leaflet/dist/leaflet.css";
.leaflet-default-icon-path {
  background-image: url("/assets/markers/marker-icon.png");
}

// bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

html, body { height: 100%; margin: 0px; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
