$light-gray: rgb(180, 180, 180);
$white-light-gray: rgb(206, 212, 218);
$light-green: rgb(98, 218, 98);
$green: rgb(27, 148, 108);
$red: rgb(228, 10, 10);
$red-orange: rgb(228, 79, 10);
$green-orange: rgb(226, 178, 46);
$yellow: rgb(255, 230, 0);
