<app-dialog id="binary">
  <app-button fa="fas fa-server" trigger width="130">
    Programmes
  </app-button>

  <div body>
    <form [formGroup]="options">
      <div>
        <label>Mod. température et humidité</label>
        <mat-radio-group [formControl]="humidityAndTemperatureSensor" class="radio-group">
          <mat-radio-button class="me-2" value="DHT_SENSOR">DHT</mat-radio-button>
          <mat-radio-button value="SHT_SENSOR">SHT</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <label>Mod. particules fines</label>
        <mat-radio-group [formControl]="pmSensor" class="radio-group">
          <mat-radio-button class="me-2" value="NextPM_SENSOR">NextPM</mat-radio-button>
          <mat-radio-button value="PMS7000_SENSOR">PMS7000</mat-radio-button>
        </mat-radio-group>
      </div>
      <div id="sensor-binary-buttons">
        <app-button
          #close
          (click)="onProgram()"
          width="160"
          fa="fas fa-download"
          class="simple"
        >
          Installer l'application
        </app-button>
        <app-button
          #close
          (click)="onCopyKey()"
          width="160"
          fa="fas fa-key"
          class="double"
          [disabled]="unavailable()"
        >
          Copier une clé <br>de téléversement
        </app-button>
        <app-button
          #close
          (click)="onLaunch()"
          width="160"
          fa="fas fa-external-link"
          class="simple"
          [disabled]="unavailable()"
        >
          Ouvrir dans l'application
        </app-button>
        <app-button
          #close
          (click)="onBinary()"
          width="160"
          fa="fas fa-compact-disc"
          [disabled]="unavailable()"
          class="double"
        >
          Télécharger <br>le programme
        </app-button>

        <div id="states" class="mt-3">
          <div *ngIf="this.state == StateEnum.DOWNLOAD" id="download-state">
            <mat-spinner class="d-inline me-4" [diameter]="18"></mat-spinner>
            Compilation en cours ...
          </div>
          <div *ngIf="this.state == StateEnum.ERROR" id="error-state">
            <mat-icon>error</mat-icon>
            Une erreur est survenue
          </div>
          <div *ngIf="this.state == StateEnum.DONE" id="done-state">
            <mat-icon>done</mat-icon>
            Traitement terminé
          </div>
          <div *ngIf="this.state == StateEnum.OPEN" id="open-state">
            <mat-icon>open_in_browser</mat-icon>
            Ouverture de l'application
          </div>
          <div *ngIf="this.state == StateEnum.WAIT" id="wait-state">
            <mat-icon>play_circle_filled</mat-icon>
            En attente d'action
          </div>
        </div>
      </div>
    </form>
  </div>
</app-dialog>
