<div class="m-3 p-0 pb-3">
  <div style="z-index: 100; position: relative">
    <div class="container-fluid mt-3 box">
      <div class="row justify-content-between m-0 mb-3">
        <h1 class="col-12 col-sm-6 p-0 pb-2 m-0">Capteurs</h1>
        <div
          class="col-12 col-sm-4 hstack p-0 justify-content-start justify-content-sm-end"
        >
          <app-button
            width="80"
            url="/assets/buttons/map.svg"
            class="me-2"
            (click)="onMap()"
            >Carte</app-button
          >
          <app-button
            width="80"
            url="/assets/buttons/list.svg"
            (click)="onList()"
            >Liste</app-button
          >
        </div>
      </div>
      <div class="row m-0">
        <div class="col p-0">
          <app-view-list (select)="select($event)" *ngIf="state == 'list'"></app-view-list>
          <app-view-map (select)="select($event)" *ngIf="state == 'map'"></app-view-map>
        </div>
      </div>
      <div class="row m-0 mt-3" *ngIf="auth.isUser()">
        <app-button
          width="100"
          [routerLink]="['/view', 'create']"
          fa="fas fa-layer-plus"
          class="p-0"
        >
        Ajouter
        </app-button>
      </div>
    </div>
    <div id="sensorSingleRef"></div>
  </div>
  <div style="z-index: 200; position: relative">
    <div id="sensorSingleRef" #sensorSingleRef></div>
    <router-outlet></router-outlet>
  </div>
</div>
