<div class="box-wrapper vh-100">
  <div class="container-fluid m-0 p-0 h-100">
    <div class="row h-100 m-0 p-0">
      <div
        class="ps-0 pe-0 col-12 mb-4 mb-lg-0"
        [ngClass]="{
        'col-lg-6 pe-lg-2': routerActive,
        'col-lg-12': !routerActive
        }"
      >
        <app-access-list></app-access-list>
      </div>
      <div
        class="pe-0 ps-0 ps-lg-2 col-lg-6 col-12 pb-3 pb-lg-0"
      >
        <router-outlet
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        ></router-outlet>
      </div>
    </div>
  </div>
  <div></div>
</div>
