<div class="box-wrapper vh-100">
  <div class="box">
  <div>
    <h1>
      <i class="fas me-2" [ngClass]="{
      'fa-tools': access?.privilege == 'MAINTENANCE',
      'fa-users': access?.privilege != 'MAINTENANCE'
    }"></i>
      {{ access?.name }}</h1>
  </div>
  <input type="text" placeholder="Rechercher" (input)="onSearch($event)" />
  <div class="my-2">
    <app-tributton (swap)="onUserOrSensor($event)" left="fas fa-hdd" right="fas fa-user"></app-tributton>
  </div>
  <div class="my-2">
    <app-tributton (swap)="onInOrOut($event)" left="fas fa-plus" right="fas fa-times"></app-tributton>
  </div>
  <div class="wrapper" [ngStyle]="{'height.px': getSize()}">
    <div class="line mx-2" *ngFor="let match of search">
      <app-access-item [accessId]="id" [m]="match"></app-access-item>
    </div>
    <div *ngIf="search.length == 0">
      Aucuns résultats
    </div>
  </div>
</div>
</div>
