<div class="box-wrapper">
  <div class="sensor box w-100">
    <form
      [formGroup]="sensorForm"
      class="m-0"
      enctype="multipart/form-data"
    >
      <div class="row p-0 g-0 g-sm-3">
        <div class="col-12 " [ngClass]="{'col-lg-6 col-xxl-9': !create, 'col-md-8 col-xxl-10': create}">
          <div>
            <div class="row m-0">
              <div class="p-0 col-12 order-0">
                <span id="id"> {{ getIdFormat() }} </span>
              </div>
              <input
                class="p-0 col-12 order-1"
                formControlName="name"
                id="name"
                maxlength="255"
                minlength="5"
                placeholder="Nom"
                type="text"

              />
              <input
                class="p-0 col-12 order-2"
                formControlName="indications"
                id="indications"
                maxlength="255"
                minlength="5"
                placeholder="Indications"
                type="text"
              />
            </div>
            <div>
              <div class="pos">
                <div class="me-2">
                  <p class="d-block d-sm-none">Lat.</p>
                  <label class="d-none d-sm-block" for="latitude"
                  >Latitude</label
                  >
                  <input
                    class="form-control"
                    formControlName="latitude"
                    id="latitude"
                    type="text"
                  />
                </div>
                <div>
                  <p class="d-block d-sm-none">Lng.</p>
                  <label class="d-none d-sm-block" for="longitude"
                  >Longitude</label
                  >
                  <input
                    class="form-control"
                    formControlName="longitude"
                    id="longitude"
                    type="text"
                  />
                </div>
              </div>
            </div>
          </div>
          <div>
            <mat-form-field *ngIf="create" appearance="fill">
              <mat-label>Type du capteur</mat-label>
              <mat-select
                (ngModelChange)="onChangeMetadata($event)" formControlName="sensorMetadata"
                required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let smd of sensorsMetadata" [value]="smd">
                  <img (window:resize)="0"
                       [src]="
                    smd?.id
                    ? ('/public/sensors/metadata/' + smd?.id + '/image' | secure | async)
                    : NO_IMG
                  "
                       height="24"
                       width="24"/> {{ smd.name }} ({{smd.version}})
                </mat-option>
              </mat-select>
              <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error> -->
              <!--<mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
            </mat-form-field>

            <h2 *ngIf="!create" class="m-0 p-0">{{ metadata?.name }} {{ metadata?.version }}</h2>
            <p *ngIf="!create" class="input-align">{{ metadata?.description }}</p>
          </div>
        </div>
          <div class="col-xxl-1 mb-3" [ngClass]="{' col-4 col-lg-2': !create, 'col-6 col-md-2': create}">
            <img
              #sensorMetadataImg
              [src]="
                metadata?.id
                ? ('/public/sensors/metadata/' + metadata?.id + '/image'
                  | secure
                  | async)
                : NO_IMG
              "
              class="sensor-metadata-logo"
              style="width: 100%"
            />
          </div>
          <div class="col-xxl-1" [ngClass]="{'col-4 col-lg-2 ': !create, 'col-6 col-md-2': create}">
            <app-input-image
              (image)="photo = $event"
              [default]="defaultUrl"
              [editable]="edition"
              [href]="''"
              [extendSrc]="id? ['/sensors', id, 'photo']: undefined"
              name="photo"
            ></app-input-image>
          </div>
          <div [ngClass]="{'col-4 col-lg-2 col-xxl-1': !create, 'col-12 px-0 px-sm-2 mt-0 pb-3': create}">
            <div
              [ngStyle]="{
                'width': create? '100%': getSize() + 'px',
                'height': create?  '500px': getSize() + 'px'
              }"
              id="map-container">
              <div
                id="map-sensors-single"
                style="width: 100%; height: 100%"
              ></div>
            </div>
        </div>
      </div>
      <div class="row">
        <div [ngClass]="{ 'col-md-6': editable || create }" class="col-12">
          <strong>Description</strong>
          <div class="description">
            <textarea
              formControlName="description"
              id="description"
              placeholder="Aucune description"
              type="text"
            ></textarea>
          </div>
        </div>
        <div *ngIf="editable || create" class="col-12 col-md-6">
          <strong>Description des mainteneurs</strong>
          <div class="description">
            <textarea
              formControlName="maintenanceDescription"
              id="maintenanceDescription"
              placeholder="Aucune description"
              type="text"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-sensors-download class="download mb-3 me-3" *ngIf="id" [id]="id">

          </app-sensors-download>

          <app-sensors-binary class="binary mb-3 me-3" *ngIf="id && editable" [id]="id">

          </app-sensors-binary>

          <app-button
            *ngIf="id"
            [link]="['/sensors', id, 'graph']"
            class="edit mb-3 me-3"
            fa="fas fa-chart-bar"
            width="130"
          >
            Graphiques
          </app-button>

          <app-button
            (click)="onEdition(); $event.stopPropagation()"
            *ngIf="!edition && auth.isUser() && editable"
            class="edit col mb-3 me-3"
            url="/assets/buttons/edit.svg"
            width="130"
          >
            Editer
          </app-button>

          <app-button
            (click)="onSave(); $event.stopPropagation()"
            *ngIf="edition && auth.isUser()"
            class="edit col"
            [ngClass]="{'mb-3': id, 'me-3': id}"
            fa="fas fa-cloud-upload"
            width="130"
          >
            Sauvegarder
          </app-button>

          <app-button
            (click)="onQRCode(); $event.stopPropagation()"
            *ngIf="id"
            class="edit col mb-3 me-3"
            fa="fas fa-qrcode"
            width="130"
          >
            QRCode
          </app-button>

          <div *ngIf="messageError" class="error col-12 col-md mb-3">
            {{ messageError }}
          </div>
        </div>
      </div>

      <div [ngClass]="{ 'd-none': create }" class="m-0 p-0">
        <app-data-table
          (navigate)="onChange($event)"
          [data]="parameters?.values || []"
          [empty]="'Aucune donnée à afficher'"
          [formatter]="formatter"
          [headers]="metadata?.parameters?.headers || []"
          [height]="525"
          [length]="parameters?.total"
          [scales]="[25, 50, 100]"
          [sizes]="sizes()"
          class="p-0"
          pagable="SERVER"
          sortable="SERVER"
        >
        </app-data-table>
      </div>
    </form>
  </div>
</div>
