<div>
  <h1>{{name}}</h1>
  <h2>Download</h2>
  <div class="btn-group">
    <button class="btn btn-secondary border-primary btn-sm option-button" (click)="onDownloadCSV()">CSV</button>
    <button class="btn btn-secondary border-primary btn-sm option-button" (click)="onDownloadJSON()">JSON</button>
  </div>
  <h2>Parameters</h2>
  <p>parameters : total of {{ parameters.length }} </p>
  <div class="list-group list-group-flush" *ngFor="let parameter of parameters">
    <div class="row">
      <div class="col-sm nobr">
        {{ parameter.date | date: 'yyyy-MM-dd HH:mm:SS' }}
      </div>
      <div class="col-sm nobr">
        {{ parameter.latitude }} {{ parameter.longitude }}
      </div>
      <div class="col-sm nobr">
        <strong>{{ parameter.measuredParameter }}</strong> : {{ parameter.value }} {{ parameter.unit }}
      </div>
    </div>
  </div>
</div>