@import "../../../../variables.scss";

#map-sensor-form {
  cursor: url("/assets/markers/marker-gray.png") 12 41, pointer !important;
  
}


.pos {

  padding-top: 20px;
  padding-bottom: 20px;

  div {
    display: inline-block;
  }

  label {
    display: block;
    background-color: $white-light-gray;
    height: 44px;
    width: 90px;
    float: left;
    border: 1px solid $light-gray;
    border-radius: 5px 0 0 5px;
    padding: 10px;
  }

  input {
    display: inline-block;
    height: 44px;
    border-radius: 0 5px 5px 0;
    width: 100px;
    border: 1px solid $light-gray;
    padding: 12px;
  }
}
