<div class="container-fluid">
  <div style="z-index: 100; position: relative;">
    <div class="container-fluid p-4 sensors-all shadow mt-3">
      <div class="row justify-content-between m-0 mb-3">
        <h1 class="col-12 col-sm-6 p-0 pb-2 m-0">Capteurs</h1>
        <div class="col-12 col-sm-4 hstack p-0 justify-content-start justify-content-sm-end">
          <button class="btn-map me-2 degraded" (click)="onMap()">
            <i></i>
            <span class="d-none d-md-block">Carte</span>
          </button>
          <button class="btn-list degraded" (click)="onList()">
            <i></i>
            <span class="d-none d-md-block">Liste</span>
          </button>
        </div>
      </div>
      <div class="row m-0">
        <div class="col p-0">
          <app-sensor-list
            *ngIf="state == 'list'"
          ></app-sensor-list>
          <app-sensor-map *ngIf="state == 'map'"></app-sensor-map>
        </div>
      </div>
    </div>
  </div>
  <div style="z-index: 200; position: relative;">
    <div #sensorSingleRef></div>
    <router-outlet></router-outlet>
  </div>
</div>
