<header class="navbar navbar-expand-md navbar-dark bg-primary sticky-header">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">GamaSenseIt</a>
    <button class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleCollapsed()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
      <div class="navbar-nav" (click)="collapsed=true">
        <a class="nav-link btn" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']">Accueil</a>
        <a class="nav-link btn" routerLinkActive="active" [routerLink]="['/view']">Visualisation</a>
        <a class="nav-link btn" routerLinkActive="active" [routerLink]="['/accesses']" *ngIf="auth.isUser()">Groupes</a>
        <button class="nav-link btn" (click)="logout()" *ngIf="auth.isAuth()">Déconnexion</button>
        <a class="nav-link btn" routerLinkActive="active" [routerLink]="['/login']" *ngIf="!auth.isAuth()">Connexion</a>
      </div>
    </div>
  </div>
</header>
<div style="height: 58px;"></div>
