<mat-drawer-container class="main-content mat-typography" autosize="true" style="height: 100vh">
  <mat-drawer #drawer mode="side" disableClose="true" opened="true" [ngStyle]="{'width.px': isOpen()? 190: 65}">
    <button mat-mini-fab (click)="swapOpen()" class="degraded" style="margin: 12px;">
      <mat-icon aria-label="Menu">menu</mat-icon>
    </button>

    <mat-nav-list>
      <mat-list-item routerLinkActive="active" [routerLink]="['']">
        <mat-icon mat-list-icon>home</mat-icon>
        <h4 mat-line *ngIf="isOpen()">Accueil</h4>
      </mat-list-item>
      <mat-list-item routerLinkActive="active" [routerLink]="['/sensors']">
        <mat-icon mat-list-icon>settings_input_antenna</mat-icon>
        <h4 mat-line *ngIf="isOpen()">Capteurs</h4>
      </mat-list-item>
      <mat-list-item *ngIf="auth.isAuth()" routerLinkActive="active" [routerLink]="['/accesses']">
        <mat-icon mat-list-icon>group</mat-icon>
        <h4 mat-line *ngIf="isOpen()">Groupes</h4>
      </mat-list-item>
      <mat-list-item *ngIf="!auth.isAuth()" routerLinkActive="active" [routerLink]="['/login']">
        <mat-icon mat-list-icon>how_to_reg</mat-icon>
        <h4 mat-line *ngIf="isOpen()">Connection</h4>
      </mat-list-item>
      <mat-list-item *ngIf="auth.isAuth()" mat-list-item (click)="logout()">
        <mat-icon mat-list-icon>logout</mat-icon>
        <h4 mat-line *ngIf="isOpen()">Déconnection</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <div class="w-100">
    <ng-content></ng-content>
  </div>
</mat-drawer-container>
