<div class="box-wrapper vh-100">
  <div class="box">
    <h1>Gestion des groupes</h1>
    <input (input)="onSearch($event)" class="form-control" placeholder="Rechercher" type="text">
    <div appResponsive [gap]="-50" class="container-fluid wrapper mt-2">
      <div class="row">
      <div *ngFor="let ac of accesses" [routerLink]="['/accesses', ac.id]"
           class="line-wrapper col-md-12 col-lg-6 col-xxl-4 px-2"
      >
        <!-- class="line hstack justify-content-between item" -->
        <div class="line p-2">
          <div class="mb-2 name">
            <i [ngClass]="{
              'fa-tools': ac.privilege == 'MAINTENANCE',
              'fa-users': ac.privilege != 'MAINTENANCE'
            }" [ngStyle]="{
              'padding-left.px': ac.privilege == 'MAINTENANCE'? 8: 6
            }" class="fas icon"></i>
            {{ ac.name }}
          </div>
          <div class="side">
            <div class="sizeSensors">
              <span>{{ ac.sizeSensors }}</span>
              <i class="fas fa-hdd ms-1"></i>
            </div>
            <div class="sizeUsers">
              <span>{{ ac.sizeUsers }}</span>
              <i class="fas fa-user ms-1"></i>
            </div>
          </div>
        </div>

      </div>
      </div>
    </div>
  </div>
</div>
