@import "all";

.sizeSensors, .sizeUsers {
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: lightcyan;
  border-radius: 15px;
  white-space: nowrap;
  width: 60px;
}

.wrapper{
  overflow-y: auto;
  border: solid 2px $white-light-gray;
  border-radius: 5px;
}

.icon {
  height: 30px;
  width: 30px;
  padding: 10px 6px 6px;
  border-radius: 5px;
  background-color: $white-light-gray;
}

.name {
  display: block;
  white-space: nowrap;
  float: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.updateAt {
  width: 160px;
}


.line {
  cursor: pointer;
  border-radius: 5px;
  border: 1px $white-light-gray solid;
  transition: 0.5s ease all;
  box-shadow:0 .125rem .25rem rgba(0,0,0,.075);
  margin-top: 8px;
  margin-bottom: 8px;

  &:hover {
    box-shadow: 0 .375rem 0.75rem rgba(0,0,0,.15);
    margin-top: 4px;
    margin-bottom: 12px;
  }
}

