@import "all";

.updateAt, .sizeSensors, .sizeUsers {
  display: inline-block;
  text-align: right;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.wrapper{
  overflow-y: auto;
  border: solid 2px $white-light-gray;
  border-radius: 5px;
}

.icon {
  height: 30px;
  width: 30px;
  padding: 6px;
  border-radius: 5px;
  background-color: $light-gray;
}

.side i {
  margin-left: 5px;
}

.updateAt {
  width: 160px;
}

.name {
  width: 10px;
  display: inline-block;
  white-space: nowrap;
}

.sizeSensors, .sizeUsers {
  background-color: lightcyan;
  border-radius: 15px;
  display: inline-block;
  white-space: nowrap;
}

.sizeSensors {
  width: 60px;
}
.sizeUsers {
  width: 60px;
}

.line {
  margin: 10px 8px;
  height: 40px;
  cursor: pointer;
  padding: 5px;
  background-color: $white-light-gray;
  border-radius: 5px;

  &:hover {
    background-color: $light-gray;

    .icon {
      background-color: gray;
    }

    .side {
       background-color: $light-gray;
     }
  }
}

.side {
  background-color: $white-light-gray;
}
