<div class="container-fluid p-3 m-0">
  <form class="row p-3 m-0 shadow box" [formGroup]="sensorForm" (ngSubmit)="onSubmitForm()">

    <div class="from-group col-12 col-md-6">
      <label for="sensorMetadataId">Capteur Parent</label>
      <select id="sensorMetadataId" class="form-control"
              formControlName="sensorMetadataId">
        <option *ngFor="let smd of sensorsMetadata" [value]="smd.id">{{smd.name}}</option>
      </select>
    </div>

    <div class="from-group col-12 col-md-6">
      <label for="name">Nom système</label>
      <input type="text" class="form-control" id="name"
            formControlName="name">
    </div>

    <div class="from-group col-12 col-md-6">
      <label for="displayName">Nom public</label>
      <input type="text" class="form-control" id="displayName"
            formControlName="displayName">
    </div>

    <div class="from-group col-12 col-md-6">
      <label for="subDisplayName">Nom secondaire public</label>
      <input type="text" class="form-control" id="subDisplayName"
            formControlName="subDisplayName">
    </div>

    <div class="from-group col-12 col-md-6">
      <label for="hiddenMessage">Message de mainteance</label>
      <input type="text" class="form-control" id="hiddenMessage"
            formControlName="hiddenMessage">
    </div>

    <div class="from-group col-12 col-md-6">
      <label for="isHidden">Caché</label>
      <input class="mx-3" type="checkbox" id="isHidden" formControlName="isHidden" checked>
    </div>

    <div class="from-group col-12">
      <label for="latitude">Latitude</label>
      <input type="text" class="form-control" id="latitude"
            formControlName="latitude">
    </div>
    <div class="from-group col-12">
      <label for="longitude">Longitude</label>
      <input type="text" class="form-control" id="longitude"
            formControlName="longitude">
      <app-button url="/assets/buttons/geo.svg" width="120" (click)="onPosition()">
        Ma position
      </app-button>
      <div class="col-12" style="height: 400px;" id="map"></div>
    </div>

    <app-button url="/assets/buttons/upload.svg" width="120" type="submit">
      Soumettre
    </app-button>
  </form>
</div>
