/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 110%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modab-btn {
  width: fit-content;
  height: fit-content;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  // margin: auto; /* 15% from the top and centered */
  padding: 20px;
  position:absolute;
  left: 50%;
  top: 50%;
  border: 1px solid #888;
  width: fit-content; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  float: right;
  font-size: 25px;
  font-weight: bold;

  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  position: absolute;
  right: -10px;
  top: -10px;
  text-decoration: none;
  z-index: 15000;
}

.close:hover,
.close:focus {
  cursor: pointer;
}
