<div class="box-wrapper vh-100">
  <div class="box">
    <h1>Liste des capteurs</h1>
    <app-data-table
    [sortable]="'NO'"
    [pagable]="'NO'"
    [minSizes]="[120, 150, 120, 150, 400, 75]"
    [data]="sensors"
    [headers]="['Nom', 'Nom D\'affichage', 'Type', 'DMS', 'Signal', 'Status']"
    [formater]="formater"
    [linker]="linker"
    [empty]="'Aucun capteurs disponible'"
    [height]="getSize()-44-2"
    (select)="select.emit($event[0].id)">
    </app-data-table>
    <div class="row m-0 mt-3" *ngIf="auth.isUser()">
      <app-button
        width="100"
        [routerLink]="['/sensors', 'create']"
        fa="fas fa-layer-plus"
        class="p-0"
      >
        Ajouter
      </app-button>
    </div>
  </div>
</div>

