<div>
  <div class="sensor-info">
    <h2>{{ sensor?.displayName }}</h2>
    <h3>{{ sensor?.subDisplayName }}</h3>
    <div class="position">
      <div class="longitude">
        {{ sensor?.longitude }}
      </div>
      <div class="latitude">
        {{ sensor?.latitude }}
      </div>
    </div>
    <div class="buttons btn-group">
      <button
        class="btn btn-secondary border-primary btn-sm option-button"
        (click)="onDownloadCSV()"
      >
        CSV
      </button>
      <button
        class="btn btn-secondary border-primary btn-sm option-button"
        (click)="onDownloadJSON()"
      >
        JSON
      </button>
    </div>
  </div>
  <div class="sensor-metadata-info">
    <div>
      {{ sensor?.metadata?.name}}
    </div>
    <div>
      {{ sensor?.metadata?.version}}
    </div>
    <p>{{ sensor?.metadata?.description }}</p>
  </div>
  <p>parameters : total of {{ sensor?.parameters?.values?.length }} record of </p>
  <div class="wrapper-table">
    <table cellspacing="0">
      <thead>
        <tr>
          <th *ngFor="let name of sensor?.parameters?.metadata?.headers">
            {{ name }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of sensor?.parameters?.values">
          <td *ngFor="let value of record">{{ value }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
