.sensor {
  border-radius: 15px;
}

.sensor h2 {
  font-size: 28px;
  margin: 0px;
}

.sensor h3 {
  font-size: 18px;
  margin: 5px;
}

.vr {
  color: rgb(200, 200, 200);
}

.option-button {
  width: 100px !important;
  background-color: #1b946c;
}

.coords {
  text-decoration: none;
}
