@import "all";

.item {
  border-radius: 5px;
  padding: 5px;
  position: relative;
  border: 1px $white-light-gray solid;
}

.sensor, .user{
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background-color: $white-light-gray;
}

.user {
  padding: 8px 8px;

}

.sensor {
  padding: 8px 6px;
}

.name {
  display: block;
  white-space: nowrap;
  float: none;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 80px;
}

.cmd {
  position: absolute;
  right: 5px;
  top: 5px;
}

.del, .add, .eye, .manage {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.2s, background-color 0.1s, filter 0.1s;
  &:hover {
    filter: brightness(1.1);
  }
}

.del, .add {
  color: white;
}

.del {
  background-color: $red;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.add {
  background-color: $light-green;
}

.eye {
  background-color: $light-gray;
  color: black;
}

.manage {
  background-color: $yellow;
  color: black;
}
