
button {
  border-radius: 20px;
  padding: 10px;
}

i {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  font-size: 22px;
  display: block;
  float: left;
}

span {
  display: block;
}
